/* Style global */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

/* Conteneur de l'image d'arrière-plan */
#background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Plateau de jeu */
#game-board {
    width: 80%;
    max-width: 600px;
}

/* Style des cartes */
.card {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Aspect ratio 1:1 */
    perspective: 1000px;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
}

.card-front {
    background-image: url('images/arriere.png');
    background-size: cover;
    background-position: center;
    filter: brightness(1.1); /* Voile blanc ajouté pour différencier le dos */
}

.card-back {
    transform: rotateY(180deg);
    background-size: cover;
    background-position: center;
    background-color: #edf2f7;
}

/* Responsive Design */
@media (max-width: 640px) {
    #game-board {
        max-width: 100%;
    }

    .card {
        margin: 2px;
    }
}

/* Effet de flou pour l'image d'arrière-plan */
#background img {
    filter: blur(8px);
}

/* Assurer que le contenu du jeu apparait au-dessus du flou */
#start-screen {
    position: relative;
    z-index: 10;
}

#start-game {
    background-color: #556B2F; /* Kaki foncé */
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#start-game:hover {
    background-color: #6B8E23; /* Couleur légèrement plus claire au survol */
}

/* Style du bouton "Rejouer" */
#replay-game {
    background-color: #556B2F; /* Kaki foncé */
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#replay-game:hover {
    background-color: #6B8E23;
}

/* Style du bouton de victoire */
#win-modal {
    backdrop-filter: blur(5px);
}
